*.Biblioteca{
    width:100%;
    height: 60%;
    background-color:rgb(67, 8, 122);
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}
.Bibliotecaaa{
    
    width:100%;
    height: 60%;
    background-color:rgb(67, 8, 122);
    display: flex;
    justify-content: right;
}
