* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*para que el ancho ocupe tanto el borde como el padding */
  
}

.parent {
    
    display: flex;
    justify-content: center;
}


body {
    margin: 0;
    background-image: 
    url(charengan.png);
    background-repeat: no-repeat;
    background-size: cover;/*para que ocupe todo el espacio disponible*/
    background-position: center center;/*para que me centre siempre la imagen*/
    
    
    
} 

.form-registro {
    width: 500px;
    font-family: 'Oleo Script', cursive ;
    background: white;
    padding: 50px; /*para que el contenido no este pegado al borde*/
    margin: 0 auto;
    margin-top: 90px ;
    border-radius: 4px;
    color: black;
    font-weight: bold
    
  
    
}

.form-acceder {
    width: 500px;
    font-family: 'Oleo Script', cursive ;
    background: white;
    padding: 50px; /*para que el contenido no este pegado al borde*/
    margin: 0 auto;
    margin-top: 90px;
    border-radius: 4px;
    color: black;
    font-weight: bold
     /*para el efecto de sombra*/
    
  
}

.form-acceder h3 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    background-color: violet;
    padding: 12px;
    
}


.form-registro h3 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    background-color: violet;
    padding: 12px;
    
    

}
.form-acceder p {
    margin-bottom: 20px;
    height: 40px;
   text-align: center;
    font-size: 18px;
    padding-top: 20px;
    
}


.form-registro p {
    height: 400px;
    text-align: center;
    font-size: 18px;
    
}

.form-acceder a{ 
    color: black; /*color establecido de "olvide mi contraseña"*/
    text-decoration: none; /*para quitar el subrayado*/
}


.form-acceder a:hover { /*cuando se coloque el cursor encima se subraye*/
    color: purple;/*color que toma  "olvide mi contraseña" despues de pasar el cursor por encimas*/
    text-decoration: underline; /*para quitar el subrayado*/
}

.secciones {
    width: 100%;
    background:rgb(236, 220, 220) ;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 17px; /*para dar espacio entre cada casilla*/
    font-weight: bold;
    border: 1px solid violet;
    font-family: cursive;
    font-size: 18px;
}

section form {
    /*si queremos animar mas de una transicion se usa all : esto es para transition*/
    transition: box-shadow 0.3s ease; /*permite indicarle que propiedades de css queremos que sean animadas,tenemos que indicarle el origen y despues mediante algun evento indicarle el final en */
    background-color: black;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
   
}
section form:hover {
    box-shadow: 0 0.1rem 0.4rem #ffff00;
    
}
 input  {
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    
    
}

.form-acceder .boton {
    width: 400px;
    background: violet;
    font-weight: bold;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}


.form-registro .boton {
    width: 400px;
    background: violet;
    font-weight: bold;
    padding: 12px;
    color: black;
    margin: 16px 0 ;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
