:root{
    --font-mono: ui-monospace, Menlo,Monaco,'Cascadia Mono', 'segoe UI Mono',
    'Roboto Mono','Oxygen Mono','Ubuntu Monospace','source code pro',
    'fira Mono','droid Sans Mono','Courier New',--Monospace,
    --transition: all 0.1s cubic-bezier(0.645,0.355,1)
}


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
    font: var(--font-mono);
}
section{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;

}
section h1{
    font: 3em;

}
section h2{
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    font-size: 2.5em;

}
section frm{
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 20px;
    border: 2px solid red;


}
section form input{
    
    width: 100%;
    margin-bottom: 1em;
    padding: 0.8em;
    border: none;
    outline-color: blue;
    background-color: aqua;
    color: beige;
    font-family: var(--font-mono);
    transition: var(--transition);

}
section form imput[type='submit']:active{
    transform:ecale(0.97);

}
section p{
    margin-top:1.5em;

}
section p a{
    text-decoration: none;
    color: blue;
}
section button{
    background-color: blue;
     font-family: var(--font-mono);
     transition: var(--transition);
     border:none;
     padding: 0.5em 1em;
     border-radius: 9px;
     margin-top: 1.5em;
     font-size: 1em;

}